 
h1, h2, h3 {
   font-family: 'Encode Sans Condensed', sans-serif;
   font-weight: 600;
   padding-top: 20px;
   padding-bottom: 10px;
} 

body, h4, h5, h6 {
   font-family: "Droid Sans", sans-serif;
}

.main-content a.hover { 
  color: #24a732 !important;
}

.main-content a {
    color: #23cc2d !important;
  font-weight: bold !important;
}

.footer a, .footer a.hover, .navbar a, .navbar a.hover { 
    font-weight: bold;
}

.footer a { 
    color: #AC9037;
}
.footer a.hover {
    color: #D6BC67;
}
.navbar a { 
    color: #12550B;
}
.navbar a.hover { 
    color: #589B51;
}

.navbar-light {
    background: rgb(129, 185, 124);
}
.site-heading { 
  padding-top: 40px;
} 
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.page-content {
  padding-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgb(254, 232, 162);
}

.footer-image { 
  height: 55px;
  margin-top: 5px;
  filter: drop-shadow(0px 0px 7px #fff);
}
 
.pycon-logo {
  padding: 40px;
}

.background-img, .intro-header {  
  background: no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}

.intro-header { 
  height: 350px;
}
 
.main-content { 
  padding-top: 20px;
}

.site-heading { 
  color: white;
}
.main-info { 
  color: #fff;
  margin-top: 100px;
}

.info-help { 
  background-color: rgba(255, 255, 255, 0.90);
  color: black;
  width: 40%;
  padding: 20px;
  margin-bottom: 100px;
}

.sponsors > div > a > img {
 height: 100px;
}

.sponsorlogo { 
    padding: 60px;
}

.sponsorgray { 
 filter: grayscale(100%);
 height: 100px;
 margin: 20px;
}

.starter-template {
  text-align: center;
  margin-top: 10rem;

  .lead {
    font-weight: 200;
  }
}   

blockquote { 
    margin: 0 20px 1rem !important;
}


@media (max-width: 575px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 3rem !important;
  }
}

@media (min-width: 576px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 4rem !important;
  }
}
@media (min-width: 768px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 5rem !important;
  }
}
@media (min-width: 990px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 6rem !important;
  }
}
