
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<footer class="footer">
  <div class="container">
    <span class="text-muted">PyCon Australia is auspiced by <a href="https://linux.org.au">Linux Australia</a>
    | <a href="https://twitter.com/pyconau" target="_blank">Twitter</a>
    | <a href="/colophon">Colophon</a>
    | <a href="/contact">Contact</a>
    <img class="float-right footer-image" src="/img/ggpcau-400.png">
    </span>
  </div>
</footer>

