<meta charset="utf-8">
<title>PyCon AU 2018 | {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Catamaran:400,700|PT+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="/static/css/bootstrap-4.1.0.min.css">
<link rel="stylesheet" href="/static/css/pycon.css">

<!-- Cards -->
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ page.url | prepend: site.url }}">
<meta property="og:description" content="{{ page.description }}">
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:site" content="@pyconau">
<meta name="twitter:description" content="{{ page.subtitle }}" />

{% if page.card %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{site.url}}{{ page.card }}" />
<meta property="og:image" content="{{site.url}}{{page.card}}" />
{% else %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{site.url}}/static/img/pyconau.png" />
<meta property="og:image" content="{{site.url}}/static/img/pyconau.png" />
{% endif %}
