<header class="navbar navbar-light">
  <div class="container">
  <ul class="nav justify-content">

  <li class="nav-item">
    <a href="/" class="navbar-brand">PyCon AU 2018</a>
  </li>
    
  </ul>

  <ul class="nav justify-content-end">
    {% for navigationLink in site.navigationLinks %}
    <li class="nav-item">
        <a class="nav-link {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"  href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}" {% if navigationLink.link != null %}target="_blank"{% endif %}>{{ navigationLink.text}}</a>
    </li>
    {% endfor %}
</ul>
</div>
</header>
