<link rel="stylesheet" href="/static/css/schedule.css">
<section id="schedule" class="">
    <div class="">
        {% for day in site.data.schedule %}
        <div class="col-lg-12 col-md-12">
            <h4 class="day-header">{{ day.dateReadable }}</h4>
            <div class="row">
                <div class="col-1">&nbsp;</div>
                {% for track in day.tracks %}
                  <div class="col">
                      <h5 class="">{{ track.title }}</h5>
                  </div>
                {% endfor %}
            </div>
            {% for timeslot in day.timeslots %}
            <div class="row">
                <div class="col-1">
                    <span>{{ timeslot.startTime }}</span>
                </div>
                {% for slot in timeslot.sessionIds %}
                    {% if slot != 404 %}
                        {% for session in site.talks %}
                            {% if slot == session.talk_id and session.service == null %}
                            <div class="col {{ session.type }}">
                                <div class="">
                                    <h5 class=""><a target="_blank" href="{{session.url}}">{{ session.title }}</a></h5>
                                    {% for speaker in site.data.speakers %}
                                        {% for session_speaker in session.speakers %}
                                            {% if session_speaker == speaker.id %}
                                            <div class="speaker">{{ speaker.name }}</div>
                                            {% endif %}
                                        {% endfor %}    
                                    {% endfor %}
                                </div>
                            </div>
                            {% elsif slot == session.talk_id and session.service != null %}
                            <div class="col">
                                <div class="service {% if session.short %}short{% else %}long{% endif %}">
                                    {{ session.title }}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <div class="col empty"></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
<!-- End Schedule Section -->
