{% include schedule-day-header.html %}
{% for day in site.data.schedule %}
{% assign dayloop = forloop %}
{% if dayloop.index0 == dayindex %} 
  <div class="row" id="{{day.dayShort}}"></div>
  <div class="row day-header">
    <div class="col">
      <h4>{{ day.dateReadable }}</h4>
      <h5>{{ day.dayTitle}}</h5>
    </div>
  </div>
  <div class="row">
      <div class="col-1">&nbsp;</div>
      {% for track in day.tracks %}
      <div class="col d-none d-lg-block">
          <h5 class="track-header">
            {% if track.slug %}<a href="{{ page.permalink}}/{{ track.slug }}">{{ track.title }}</a>
            {% else %}{{ track.title }}{% endif %}
          </h5>
      </div>
      {% endfor %}
  </div>
  {% for timeslot in day.timeslots %}
  <div class="row" id="timeslot-{{forloop.index}}">
      <div class="col-12 col-lg-1 time">
          <span>{{ timeslot.startTime }}</span>
      </div>
      {% for slot in timeslot.talkIds %}
          {% assign track = site.data.schedule[dayloop.index0].tracks[forloop.index0] %}
          {% if slot != 404 %}
              {% if slot != 403 %}
                {% for session in site.talks %}
                    {% assign colNum = forloop.index0 %}
                    {% if slot == session.talkid and session.service == null %}
                    <div class="col-12 col-lg">
                        <div class="session {{ session.type }}" style="{{session.css}}">
                            {% if session.hide %}
                                <h5>{{session.title}}</h5>
                                {% if session.type == "keynote" %}<div class="speaker">Yet to be announced</div>{%endif%}
                            {% else %}
                            <h5><a target="_blank" href="{{session.url}}" {% if session.type == "track" %} style="color: {{track.color}} !important"{%endif%}>{{ session.title }}</a></h5>
                            {% if session.type == 'keynote' %}<div class="speaker">Invited Speaker</div>
                            {% elsif session.type == "talk"%}
                                <div class="speaker">
                                {% for speaker in session.speakers -%}
                                {%- if forloop.index0 > 0 %} and {% endif %}{{ speaker.name }}
                                {%- endfor %}
                                </div>
                            {% endif %}
                            {% endif %}
                            <span class="d-lg-none">{% if track.track %}Track: {{track.track}}<br>{%endif%}Room: {{ track.title }}</span>
                            {% if session.endTime %}<span class="d-block">Ends at {{ session.endTime }}</span>{%endif%}
                        </div>
                    </div>
                    {% elsif slot == session.talkid and session.service != null %}
                    <div class="col-12 col-lg {% if session.hide-on-mobile %}d-none d-lg-block{% endif %} ">
                        <div class="service {{session.type}} {% if session.short %}short{% else %}long{% endif %}" style="{{session.css}}">
                        {% if session.link %} <a href="{{session.link}}" class="session_link">{{ session.title }}</a>
                        {% else %}{{session.title}}{%endif%}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
              {% else %}
              <div class="col-12 col-lg continue"></div>
              {% endif %}
          {% else %}
          <div class="col-12 col-lg empty"></div>
          {% endif %}
      {% endfor %}
  </div>
  {% endfor %}
{% endif %}
{% endfor %}
