<p>PyCon AU's annual shirt design isn't revealed until the event itself, but that doesn't mean you can't ensure you get a shirt that fits!</p>
<p>Due to changes with discontinuation of the stock used in previous years, we've chosen to change suppliers. This year's shirts will be from AS Colour. We have made this change in order to provide a range of shirts to fit everyone who wants a shirt to remember their conference experience with. Please pay attention to the measurements table, and if you need to, <a href="https://2017.pycon-au.org/attend/t-shirts/">compare the dimensions of the shirt you received in 2017</a>.</p>
<p>We will be offering three cuts of shirt: </p>
<ul>
  <li>The Straight Cut option is the Men's Staple Tee - <a href="https://www.ascolour.com.au/staple-tee-5001.html">5001</a>, and <a href="https://www.ascolour.com.au/5001b-staple-tee-4xl-5xl.html">5001B</a></li>
  <li>The Semi-Fitted option is the <a href="https://www.ascolour.com.au/4001-maple-tee.html">Wo's Maple Tee - 4001</a></li>
  <li>The Fitted option is the <a href="https://www.ascolour.com.au/4002-wafer-tee.html">Wo's Wafer Tee - 4002</a></li>
</ul>

<h4>Sizing Information</h4>
<ul>
<li>All measurements are in centimetres</li>
<li>W = Width, L = Length</li></ul>
<div class="table-responsive">
<table class="table" cellspacing=".5em">  
  <tbody><tr>
    <th></th>
    <th class="colspan2" colspan="2">XSML</th>
    <th  class="colspan2" colspan="2">SML</th>
    <th class="colspan2"  colspan="2">MED</th>
    <th  class="colspan2" colspan="2">LRG</th>
    <th  class="colspan2" colspan="2">XLG</th>
    <th  class="colspan2" colspan="2">2XL</th>
    <th  class="colspan2" colspan="2">3XL</th>
    <th  class="colspan2" colspan="2">4XL</th>
    <th  class="colspan2" colspan="2">5XL</th>
</tr>
<tr>
    <th></th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
   <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
</tr>
<tr>
    <td>Straight Cut</td>
    <td>-</td>
    <td>-</td>
    <td>47</td>
    <td>71</td>
    <td>52</td>
    <td>75</td>
    <td>56.5</td>
    <td>78.5</td>
    <td>61</td>
    <td>82</td>
    <td>64</td>
    <td>83.5</td>
    <td>68</td>
    <td>85</td>
    <td>75</td>
    <td>87</td>
    <td>80</td>
    <td>89</td>
</tr>
<tr>
    <td>Semi-Fitted</td>
    <td>45.5</td>
    <td>63.5</td>
    <td>48</td>
    <td>64.5</td>
    <td>50.5</td>
    <td>65.5</td>
    <td>53</td>
    <td>66.5</td>
    <td>55.5</td>
    <td>67.5</td>
    <td>58</td>
    <td>68.5</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
</tr>
<tr>
    <td>Fitted</td>
    <td>41.5</td>
    <td>67.5</td>
    <td>44</td>
    <td>68.5</td>
    <td>46.5</td>
    <td>69.5</td>
    <td>49</td>
    <td>70.5</td>
    <td>53</td>
    <td>71.5</td>
    <td>56.5</td>
    <td>72.5</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
</tr>
</tbody></table></div>
