<div class="block-raw_html"><p>PyCon AU uses Gildan t-shirts, and this year's design will be available in a variety of colours that you can choose from when you collect your shirt. There are three varieties available:</p>
<ul>
  <li>The Straight-Cut option is the <a href="http://www.mygildan.com/store/au/browse/productDetailsPage.jsp?productId=2000">Ultra Cotton "Classic Fit" shirt</a></li>
  <li>The Semi-Fitted option is the <a href="http://www.mygildan.com/store/au/browse/productDetailsPage.jsp?productId=5000L">Heavy Cotton Semi-Fitted Ladies' shirt</a></li>
  <li>The Classic Fitted option is the <a href="http://www.mygildan.com/store/au/browse/productDetailsPage.jsp?productId=2000L">Ultra Cotton "Classic Fit" Ladies' shirt</a><br><i>Please note that the Classic Fit cut may change. If it does, we will advise anyone who has selected this cut.</i></li>
</ul><a></a>

<h4>Sizing Information</h4>
<ul>
<li>All measurements are in centimetres</li>
<li>W = Width, L = Length</li></ul>
<div class="table-responsive">
<table class="table" cellspacing=".5em">  
  <tbody><tr>
    <th></th>
    <th class="colspan2" colspan="2">XS</th>
    <th  class="colspan2" colspan="2">S</th>
    <th class="colspan2"  colspan="2">M</th>
    <th  class="colspan2" colspan="2">L</th>
    <th  class="colspan2" colspan="2">XL</th>
    <th  class="colspan2" colspan="2">2XL</th>
    <th  class="colspan2" colspan="2">3XL</th>
    <th  class="colspan2" colspan="2">5XL</th>
</tr>
<tr>
    <th></th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
   <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
    <th>W</th>
    <th>L</th>
</tr>
<tr>
    <td>Straight Cut</td>
    <td>-</td>
    <td>-</td>
    <td>46</td>
    <td>71</td>
    <td>51</td>
    <td>74</td>
    <td>56</td>
    <td>76</td>
    <td>61</td>
    <td>79</td>
    <td>66</td>
    <td>81</td>
    <td>71</td>
    <td>84</td>
    <td>81</td>
    <td>89</td>
</tr>
<tr>
    <td>Semi-Fitted</td>
    <td>-</td>
    <td>-</td>
    <td>44</td>
    <td>65</td>
    <td>49</td>
    <td>66</td>
    <td>54</td>
    <td>69</td>
    <td>59</td>
    <td>71</td>
    <td>64</td>
    <td>72</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
</tr>
<tr>
    <td>Classic Fitted</td>
    <td>41</td>
    <td>60</td>
    <td>46</td>
    <td>64</td>
    <td>51</td>
    <td>66</td>
    <td>56</td>
    <td>69</td>
    <td>61</td>
    <td>71</td>
    <td>66</td>
    <td>74</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
</tr>
</tbody></table></div></div>
