<section id="sponsors" class="sponsors">
  {% for level in site.data.sponsors %}
    <h1>{{ level.title }}</h1>
    <div class="row">
    {% for sponsor in level.sponsors %}
        <div class="col-6">
          <a href="{{sponsor.link}}"><img class="img-fluid sponsorlogo" src="/static/img/sponsors/{{sponsor.logo}}"></a>
          {% if sponsor.link %}
          <p align="center"><a href="{{sponsor.link}}">{{sponsor.link}}</a></p>
          {% endif %}
          {% if sponsor.blurb %}
              <p>{{sponsor.blurb}}</p>
          {% endif %}
        </div>
    {% endfor %}
    </div>
  {% endfor %}
</section>
