<div class="table-responsive-lg">
<table class="table price-table">
<tr>
    <th style="width: 15%">&nbsp;</th>
    <th>&nbsp;</th>
    <th>Price</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
    <th>Shirt</th>
    <th style="width: 15%">&nbsp;</th>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="colright">Contributor ✨</td>
    <td>$900</td>
    <td>✅</td>
    <td>✅</td>
    <td>✅</td>
    <td>👚</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td  class="colright" >Professional</td>
    <td>$690</td>
    <td>✅</td>
    <td>✅</td>
    <td>✅</td>
    <td>👚</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="colright" >Enthusiast (Sat/Sun)</td>
    <td>$360</td>
    <td>🚫</td>
    <td>✅</td>
    <td>✅</td>
    <td>👚</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="colright" >Enthusiast (Fri/Sat/Sun)</td>
    <td>$440</td>
    <td>✅</td>
    <td>✅</td>
    <td>✅</td>
    <td>👚</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="colright" >Student (Sat/Sun)</td>
    <td>$60</td>
    <td>🚫</td>
    <td>✅</td>
    <td>✅</td>
    <td>🚫</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="colright" >Student (Fri/Sat/Sun)</td>
    <td>$140</td>
    <td>✅</td>
    <td>✅</td>
    <td>✅</td>
    <td>🚫</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="colright" >Specialist Track Day (Fri Only)</td>
    <td>$150</td>
    <td>✅</td>
    <td>🚫</td>
    <td>🚫</td>
    <td>🚫</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="colright" >Extra Shirt</td>
    <td>$25</td>
    <td>🚫</td>
    <td>🚫</td>
    <td>🚫</td>
    <td>👚</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="colright" >Development Sprint Addon</td>
    <td colspan="4">$10 per day (Monday and Tuesday)</td>
    <td>🚫</td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
