.header-serpent { 
    display: inline-block; 
    z-index: -100; 
    position: absolute;
    padding-top: 40px;
    padding-left: 40px;
    overflow: hidden;
    height: 100%; 
}
.header-serpent > img { 
    height: 100%;
} 

html, body { 
    max-width: 100% !important; 
    overflow-x: hidden !important; 
}

h1, h2, h3, .subheading {
   font-family: 'PT Sans', sans-serif;
   font-weight: 600;
   padding-top: 20px;
   padding-bottom: 10px;
} 

h4, h5, h6 {
   font-family: 'PT Sans', sans-serif;
}

.subheading { font-size: 24pt }
body {
   font-family: "Catamaran", sans-serif;
}

.main-content a.hover, .footer a.hover { 
  color: #24a732 !important;
}

.main-content a, .footer a, .newspost a {
  color: #008542 !important;
  font-weight: bold !important;
}

.navbar a, .navbar a.hover { 
    font-size: 16pt; 
}

.footer { 
    border-top: 1px #f2bf2f solid; 
} 

.navbar-light {
    background: #00a756;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.page-content {
  padding-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.footer-image { 
  height: 40px;
  margin-top: 12px;
}
 
.pycon-logo {
  padding: 40px;
}

.main-content { 
  padding-top: 20px;
}

.info-help { 
  background-color: rgba(255, 255, 255, 0.90);
  color: black;
  width: 40%;
  padding: 20px;
  margin-bottom: 100px;
}

.sponsors > div > a > img {
 height: 100px;
}

.sponsorlogo { 
    padding: 60px;
}

.sponsorgray { 
 filter: grayscale(100%);
 height: 60px;
 margin: 20px;
}

.sponsorgray.platinum { 
    height: 100px;
}

.sponsorgray.auspice { 
    height: 80px;
} 

blockquote { 
    margin: 0 20px 1rem !important;
}


@media (max-width: 575px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 3rem !important;
  }
}

@media (min-width: 576px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 4rem !important;
  }
}
@media (min-width: 768px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 5rem !important;
  }
}
@media (min-width: 990px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 6rem !important;
  }
}

.nav-item { color: white !important}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px #f2bf2f solid;
    margin: 1em 0;
    padding: 0; 
}

.speaker-picture { 
    max-height: 200px;
    display:block;
    margin: 20px;
    border: 6px solid white;
}   

.border-general   { border-color: #00B159; } 
.border-iot       { border-color: #5B57A5; }
.border-security  { border-color: #FFC518; }
.border-django    { border-color: #F36F3A; }
.border-education { border-color: #E01D43; }

/* Brand Green  == 00B159
   Access Green == 00994D  */

.header-green { color: #00994D }

.speaker_name { 
    font-size: 120%;
}

.abstract { 
    font-size: 120%;
} 

.nav-norm { padding: 0 !important; } 

.colspan2 { text-align: center; }
.price-table td, .price-table th { text-align: center }
.colright { text-align: left !important; }
code { color: #00994D !important }

.table-responsive-lg tr { padding: 10px } 

.backtotop { float: right; margin-top: -40px;}

