.header-serpent { 
    display: inline-block; 
    position: absolute;
    padding-top: 40px;
    padding-left: 40px;
    overflow: hidden;
    height: 100%; 
}
.header-serpent > img { 
    height: 100%;
} 

body { overflow-x: hidden; }

h1, h2, h3, .subheading {
   font-family: 'PT Sans', sans-serif;
   font-weight: 600;
   padding-top: 20px;
   padding-bottom: 10px;
} 

h4, h5, h6 {
   font-family: 'PT Sans', sans-serif;
}

.subheading { font-size: 24pt }
body {
   font-family: "Catamaran", sans-serif;
}

.main-content a.hover, .footer a.hover { 
  color: #24a732 !important;
}

.main-content a, .footer a {
  color: #00B159 !important;
  font-weight: bold !important;
}

.navbar a, .navbar a.hover { 
    font-size: 16pt; 
}

.footer { 
    border-top: 1px #f2bf2f solid; 
} 

.navbar-light {
    background: #00a756;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.page-content {
  padding-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.footer-image { 
  height: 55px;
  margin-top: 5px;
}
 
.pycon-logo {
  padding: 40px;
}

.main-content { 
  padding-top: 20px;
}

.site-heading { 
  color: #fff;
}
.main-info { 
  color: #fff;
  margin-top: 100px;
}

.info-help { 
  background-color: rgba(255, 255, 255, 0.90);
  color: black;
  width: 40%;
  padding: 20px;
  margin-bottom: 100px;
}

.sponsors > div > a > img {
 height: 100px;
}

.sponsorlogo { 
    padding: 60px;
}

.sponsorgray { 
 filter: grayscale(100%);
 height: 60px;
 margin: 20px;
}

.sponsorgray.platinum { 
    height: 100px;
}

.sponsorgray.auspice { 
    height: 80px;
} 

blockquote { 
    margin: 0 20px 1rem !important;
}


@media (max-width: 575px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 3rem !important;
  }
}

@media (min-width: 576px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 4rem !important;
  }
}
@media (min-width: 768px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 5rem !important;
  }
}
@media (min-width: 990px) {
  .site-heading > h1 {
    padding-top: 60px;
    font-size: 6rem !important;
  }
}

.nav-item { color: white !important}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px #f2bf2f solid;
    margin: 1em 0;
    padding: 0; 
}

.speaker-picture { 
    max-height: 200px;
    display:block;
    margin:auto;
    margin: 20px;
}   

.speaker_name { 
    font-size: 120%;
}

.abstract { 
    font-size: 120%;
} 
