.service { 
    text-align: center;
    padding: 10px;
} 

.empty { 
    background-color: #eee;
} 

.long { 
    font-size: 1.25rem;
    padding: 30px;
}

.talk {
    min-height: 100px;
}


.keynote { 
    padding-bottom: 70px;
}

.short { 
    font-size: 12pt;
    margin-top: -10px;
} 

.day-header { 
    padding-top: 60px; 
    padding-bottom: 20px; 
}

