---
layout: page
snake: rainbow
---
{% assign timeslot_index = 0 %}
<div class="row"><div class="col">
{% comment %} Search for times from schedule. Dummy data will show duplicate listings {% endcomment %}
{%- for day in site.data.schedule -%}
  {% assign dayName = day.dayShort | downcase %}
  {%- for timeslot in day.timeslots -%}
      {% assign timeslot_index = forloop.index %}
      {%- for talk in timeslot.talkIds -%}
        {% if talk == page.talkid %}
            {% assign track = day.tracks[forloop.index0].track %}
            {% assign room = day.tracks[forloop.index0].title %}
            <a href="/schedule/{{dayName}}#timeslot-{{timeslot_index}}">{{ day.dateReadable }},{%if track %} {{track}} Track,{%endif%} {{room}}, {{ timeslot.startTime }} {{ site.timezone }}</a><br>
            {% break %}
        {% endif %}
      {%- endfor -%}
  {%- endfor -%}
{%- endfor -%}
{% if page.video_url != blank %}
      <br>
      {% assign youtube_id = page.video_url | replace:"https://youtu.be/",""%}
      {% include youtube-embed.html id=youtube_id %}
{%endif%}
</span>

{% if page.abstract %}
<hr>

<span class="abstract">{{ page.abstract | markdownify}}
</span>
{% endif %}

<hr>

{{ content | markdownify }}


{% if page.video_url != blank %}
    <br><a href="{{page.video_url}}">Watch '{{page.title}}' on PyCon AU's YouTube account</a>
{% endif %}
</div>
<div class="col-12 col-lg-3">
<hr class="d-lg-none">
{% if page.type == "track" %}<h3 align="center" style="color: #00B159;">Track Organisers</h4>{%endif%}
{%- for speaker in page.speakers -%}
    {% if speaker.thumbnailUrl %}<img class="rounded-circle speaker-picture border-{{page.track}}  mx-auto" alt="{{speaker.name}}" src="{{ site.baseurl | append: '/static/img/people/' | append: speaker.thumbnailUrl }}">
    <p align="center" style="margin-bottom: -10px"><span class="speaker_name">{{ speaker.name }}</span>
    {% else %}
    <p style="margin-bottom: -10px"><span class="speaker_name">{{ speaker.name }}</span>
    {% endif %}
    {%- if speaker.tag -%}<br><b>{{ speaker.tag }}</b>{%endif%}
    {%- if speaker.company != blank -%}<br>{{ speaker.company }}{%- endif -%}
    {%- if speaker.twitter != blank -%}<br><a href="https://twitter.com/{{ speaker.twitter}}">@{{speaker.twitter}}</a>{% endif %}
    {% if speaker.url != blank %}<br><a href="{{ speaker.url}}">{{speaker.url}}</a>{% endif %}
    </p>
    <hr>
    <p>{{ speaker.bio | markdownify }}</p>
{%- endfor -%}
</div>
</div>

{% include sponsor_footer.html %}
